@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 100vh; }

.detailChat {
    background-color:rgb(19, 85, 85); ;
    align-self: center;
    width: 80%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 10px;
    overflow: hidden;
    align-items: center;
    overflow-y: auto;
}

.atrasChat {
    display: flex;
    flex-direction: row;
    padding: 5px;
    background-color: rgb(76, 173, 173);
    width: 100%;
    height: 10%;
    align-items: center;
}
.atrasChat h3{
    flex: 1;
    text-align: center;
    font-size: 25px;
}

.atrasChat i{
    font-size: 30px;
    margin-right: 10px;
    color: black ;
}

.detailChat img {

    align-self: center;
    width: 50px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
    
}

.detailChat h2 {
    font-size: 50px;
    color: beige;
}

.detailChat span {
    color: beige;
    font-size: 20px;
}

.detailChat p {
    margin-top: 5px;
    color: beige;
    font-size: 20px;
}

.eliminarContacto {
    color: beige;
    margin-top: 1%;
    text-decoration: none;
    background-color: rgb(31, 125, 156);
    font-size: 27px;
    width: 40%;
    height: auto;
    text-align: center;
    border: 1px solid black;
    border-radius: 5px;

}

.editarContacto {
    border-radius: 5px;
    margin-top: 15%;
    color: beige;
    text-decoration: none;
    background-color: rgb(31, 125, 156);
    font-size: 32px;
    width: 40%;
    height: auto;
    text-align: center;
    border: 1px solid black;
}


@media screen and (max-width: 668px) ,screen and (max-height: 600px) {

    .detailChat{    
        width: 100%;
        border-radius: none;
    }

    .atrasChat h3{
        font-size: 15px;
    }


    .detailChat img {
        width: 100px;
        height: 130px;
    }

    .detailChat h2 {
        font-size: 37px;
    }


   
    
}

@media screen  and (min-height: 1200px), screen and (min-width: 1200px) {


    .detailChat img {
        width: 160px;
        height: 180px;
    }

    .detailChat h2 {
        font-size: 50px;
    }

    .detailChat span {

        font-size: 20px;
    }

    .eliminarContacto {
        font-size: 27px;
        width: 40%;
    }

    .editarContacto {
        font-size: 27px;
        width: 40%;
        margin-top: 5%;
    }

    
}



