.container {
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 100vh;
}

.reviewCreatePage {
    background-color: rgb(19, 85, 85);
    align-self: center;
    width: 75%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 10px;
    overflow: hidden;
}

.headerReviewCreate {
    display: flex;
    flex-direction: row;
    padding: 5px;
    width: 100%;
    height: 10%;
    align-items: center;
    background-color: rgb(19, 85, 85);}

.headerReviewCreate .headerTitle{
    width: 100%;
    color: aliceblue;
    text-align: center;
    font-size: 50px;
}


.headerReviewCreate .atrasChat{
    text-decoration: none;
    width: 10%;
    background-color: transparent;
    border: none;
    font-size: 34px; 
    color: black; 
    margin-left: 1px;
    align-self: center;
}


.formReview {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90%;
    overflow-y: auto;
    margin-top: 27px;

}


.formReview label {
    color: aliceblue;
    font-size: 27px;
    margin: 10px;
    margin-bottom: 2px;
}

.formReview input{
    margin: 10px;
    padding: 10px;
    font-size: 20px;
    width: 50%;
}

.formReview textarea{
    margin: 10px;
    padding: 10px;
    font-size: 20px;
    width: 50%;
}   


.formReview button{
    margin: 10px;
    padding: 10px;
    font-size: 24px;
    width: 50%;
    background-color: rgb(55, 184, 184);
    border: none;
    border-radius: 10px;
    color: aliceblue;
}



@media screen and (max-width: 568px), screen and (max-height: 600px) {

    .reviewCreatePage {
        width: 100%;
    }

    .headerReviewCreate .headerTitle {
        font-size: 30px;
    }
    
}