.container {
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 100vh;
}

.reviewCreate {
    background-color: rgb(19, 85, 85);
    align-self: center;
    width: 75%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 10px;
    overflow: hidden;
    overflow-y: auto;
}

.headerReviewCreate {
    display: flex;
    justify-content: center; 
    align-items: center; 
    padding: 5px;
    width: 100%;
    height: 10%;
    background-color: rgb(19, 85, 85);
    position: relative;
}

.headerReviewCreate .headerTitle{
    color: aliceblue;
    text-align: center;
    font-size: 50px;
    margin: 0 auto;
    position: relative;
    z-index: 1; 
}


.headerReviewCreate .atrasChat{
    font-size: 30px;
    color: black;
    position: absolute;
    left: 10px; 
}


.formReview {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    width: 100%;

}


.formReview label {
    color: aliceblue;
    font-size: 27px;
    margin: 10px;
    margin-bottom: 2px;
}

.formReview input{
    margin: 10px;
    padding: 10px;
    font-size: 20px;
    width: 50%;
}

.formReview textarea{
    margin: 10px;
    padding: 10px;
    font-size: 20px;
    width: 50%;
}   


.formReview button{
    margin: 10px;
    padding: 10px;
    font-size: 24px;
    width: 50%;
    background-color: rgb(55, 184, 184);
    border: none;
    border-radius: 10px;
    color: aliceblue;
}



@media screen and (max-width: 568px), screen and (max-height: 568px) {

    .reviewCreate {
        width: 100%;
    }

    .headerReviewCreate .headerTitle {
        font-size: 30px;
    }
    
}